body {
	background-color: rgb(1, 1, 1);
    color: #dbd9d8;
    text-align: center;
}
/*----------------------------*/


/*------------------------*/
/*  main låda  */
/*-----------------*/
.container {
	max-width: 750px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/*----------------------------*/


/*------------------------*/
/*  hem låda  */
/*-----------------*/
.container-home {
	text-align: center;
}
.start-img {
    border: 8px rgb(5, 34, 14);
	border-style: ridge double;
}
.links-home {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    color: antiquewhite;                                                                 
}
.start-stickers {
	background: #001000;
	border: 1px inset #001000;
    padding-top: 4px;
    padding-bottom: 4px;
	width: 360px;
	margin: 0 auto;
}
.ascii {
    font-family: monospace;
    white-space: pre;
    color: tomato;
}
/*----------------------------*/


/*------------------------*/
/*  about låda  */
/*-----------------*/
.container-about {
	text-align: left;
	width: 600px;
}
/*----------------------------*/


/*------------------------*/
/*  syltburk hemikon  */
/*-----------------*/
.home-icon {
	position: absolute;
	left: 10px;
	width: 40px;
	height: 40px;
}
.home-icon img {
	width: 100%;
	height: 100%;
	display: block;
}

.notfound-icon {
	width: 250px;
	height: 250px;
}

/*----------------------------*/


/*------------------------*/
/*  titellådor  */
/*-----------------*/
.title {
	/*border: 1px dotted darkblue;*/
	font-size: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 750px;
	height: 80px;
  margin-top: 20px;
  margin-bottom: 10px;
}

h1 {
  color: rgb(255, 240, 220);
}

h2 {
	color: rgb(255, 240, 220);
}
/*----------------------------*/


/*------------------------*/
/*  video layout  */
/*-----------------*/
.video {
  padding-top: 50px;
}
/*----------------------------*/


/*------------------------*/
/*  bild layout  */
/*-----------------*/

/*----------------------------*/


/*------------------------*/
/*  links  */
/*-----------------*/
.links-home a {
	color: antiquewhite;
	background-color: darkblue;
	border: 2px solid darkblue;
	text-decoration: none;
	padding: 1px;
}

a:hover {
	text-decoration: underline;
}

a:active {
	color: darkcyan;
}

a .notfound-icon {
	border: none;
	text-decoration: none;
	background-color: transparent;
}

a img {
	background-color: transparent;
	text-decoration: none;
	border: none;
}

/*a:visited {}*/
	
/*----------------------------*/


/*------------------------*/
/*  ########  */
/*-----------------*/
