.main {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}

.boxes {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 200px;
    height: 200px;
}

.box {
    background-color: red;
}

.box2 {
    background-color: green;
    
}

.box3 {
    background-color: black;

}

.title {
    font: arial;
    font-size: 60px;
    width: 200px;
    display: flex;
}