body {
    font-family: Times;
    font-size: 14px;
    color: #dbd9d8;
    background-color: #000000;
    justify-content: center;
}
.container-home {
    width: 500px;
    margin: 0 auto;
    text-align: center;

}

.container-about {
    border: outset 6px rgb(124, 82, 82);
    width: 750px;
    height: 700px;
    text-align: center;
    margin: 0 auto;
    align-items: center;
}

.container-about img {
    padding-top: 150px;
}

.container-view {
    align-items: left;
}

.sub-container-about {
    border: none;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;
}

.title-about {
    border: outset 3px rgb(68, 161, 97);
    margin: 20px;
    position: relative;
}

.home-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    width: 50px;
    height: 50px;
    background-color: transparent;
}

.home-icon img {
    width: 100%;
    height: 100%;
    padding-top: 0px;
}

.start-img {
    border: 8px solid rgb(5, 34, 14);
    border-style: double
}

a {
    background-color: #000075;
    padding-right: 4px;
    padding-left: 4px;
    color: antiquewhite;
    text-decoration: none;
}

a:hover {
    border: 1px solid tomato;
    text-decoration: underline;
}

a:active {
    color: darkcyan;
}

.links-home {
    margin-top: 10px;
    margin-bottom: 10px;;
    font-size: 25px;
    color: antiquewhite;
}

.start-stickers {
    background-color: #001000;
    border: 1px #002000 inset;
    padding-top: 8px;
    padding-bottom: 4px;
    width: 440px;
    display: inline-block;
}

.ascii {
    font-family: monospace;
    white-space: pre;
    color: tomato;
}

h2 {
    font-size: 25px;
}