* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('img/bg.jpg');
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100vh;
}

.main {
}

.titel {
    display: flex;
    justify-content: left;
    margin-left: 10px;
    margin-left: 25px;
    border: 2px solid;
    flex: 2;
}

.titel h1 {
    font: 80px caption;
}

.navbar {
    background-color: aquamarine;
    justify-content: right;
}

.top {
    display: flex;
}

.sidebar {
    margin-top: 50px;
    display: flex;
    justify-content: left;
    margin-left: 50px;
    height: 200px;
    width: 100px;
    border: 1px solid;
    padding: 25px;
}
